pipeline/BasicIncrementalPipeline.json
{
	"name": "BasicIncrementalPipeline",
	"properties": {
		"activities": [
			{
				"name": "watermark_CDC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT          MAX(O.InsertedDate) AS lastInsertedDate\nFROM            dbo.Orders    O",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OrderTable_Bronze",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "watermark_CDC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT          SO.CustomerName,\n                SO.ProductName,\n                SO.Quantity,\n                SO.OrderAmount,\n                SO.InsertedDate\nFROM            Dbo.StagingOrders\tSO\nWHERE           SO.InsertedDate  > '@{activity('watermark_CDC').output.firstRow.lastInsertedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StaginOderTable_Bronze",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OrderTable_Silver",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}